.visual_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.left_container {
    display: flex;
    align-items: baseline;
    align-items: flex-end;
}

.current_value_container {
    display: flex;
    flex-direction: column;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent_value {
    margin-left: 16px;
    margin-bottom: 8px;
}

.ptpassage_container {
    width: 150px;
    text-align: center;
}

#ptpassage_prct{
    margin-top: 8px;
    font-size: 1.1em;
}