.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .visual_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .left_container {
  display: flex;
  align-items: baseline;
  align-items: flex-end;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .current_value_container {
  display: flex;
  flex-direction: column;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .percent_value {
  margin-left: 16px;
  margin-bottom: 8px;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .ptpassage_value_container {
  display: flex;
  align-items: baseline;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG .ptpassage_container {
  width: 150px;
  text-align: center;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG #ptpassage_prct {
  margin-left: 8px;
  white-space: nowrap;
  font-size: 20px;
}
