.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-pbiflatprogress111DDC2C0F0D0384236A63C11C134C5CDB5_DEBUG p em {
  background: yellow;
  padding: 5px;
}
